.dashboard-grid {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  gap: var(--space-8);
}

.dashboard-col-left, .dashboard-col-right {
  display: flex;
  flex-direction: column;
}

.dashboard-live-stack,
.dashboard-right-stack {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.dashboard-live-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-4);
  align-items: center;
}

@media (max-width: 1279px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
    gap: var(--space-6);
  }
}

@media (max-width: 767px) {
  .dashboard-live-details {
    grid-template-columns: 1fr;
  }
}
